/*
    Custom css
*/
@font-face {
  font-family: 'museo_slab_300webfont';
  src: url('../fonts/museo_slab_300webfont.eot?#iefix') format('embedded-opentype'),  
  	   url('../fonts/museo_slab_300webfont.woff') format('woff'), 
  	   url('../fonts/museo_slab_300webfont.ttf')  format('truetype'), 
  	   url('../fonts/museo_slab_300webfont.svg#museo_slab_300webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Museo_Slab_300italic';
  src: url('../fonts/Museo_Slab_300italic.eot?#iefix') format('embedded-opentype'),  
  	   url('../fonts/Museo_Slab_300italic.woff') format('woff'), 
  	   url('../fonts/Museo_Slab_300italic.ttf')  format('truetype'), 
  	   url('../fonts/Museo_Slab_300italic.svg#Museo_Slab_300italic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'museo_slab_500webfont';
  src: url('../fonts/museo_slab_500webfont.eot?#iefix') format('embedded-opentype'),  
  	   url('../fonts/museo_slab_500webfont.woff') format('woff'), 
  	   url('../fonts/museo_slab_500webfont.ttf')  format('truetype'), 
  	   url('../fonts/museo_slab_500webfont.svg#museo_slab_500webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo_Slab_500italic';
  src: url('../fonts/Museo_Slab_500italic.eot?#iefix') format('embedded-opentype'),  
  	   url('../fonts/Museo_Slab_500italic.woff') format('woff'), 
  	   url('../fonts/Museo_Slab_500italic.ttf')  format('truetype'), 
  	   url('../fonts/Museo_Slab_500italic.svg#Museo_Slab_500italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo_slab_700webfont';
  src: url('../fonts/museo_slab_700webfont.eot?#iefix') format('embedded-opentype'),  
  	   url('../fonts/museo_slab_700webfont.woff') format('woff'), 
  	   url('../fonts/museo_slab_700webfont.ttf')  format('truetype'), 
  	   url('../fonts/museo_slab_700webfont.svg#museo_slab_700webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Museo_Slab_700italic';
  src: url('../fonts/Museo_Slab_700italic.eot?#iefix') format('embedded-opentype'),  
  	   url('../fonts/Museo_Slab_700italic.woff') format('woff'), 
  	   url('../fonts/Museo_Slab_700italic.ttf')  format('truetype'), 
  	   url('../fonts/Museo_Slab_700italic.svg#Museo_Slab_700italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo_Slab_900';
  src: url('../fonts/Museo_Slab_900.eot?#iefix') format('embedded-opentype'),  
  	   url('../fonts/Museo_Slab_900.woff') format('woff'), 
  	   url('../fonts/Museo_Slab_900.ttf')  format('truetype'), 
  	   url('../fonts/Museo_Slab_900.svg#Museo_Slab_900') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Museo_Slab_900italic';
  src: url('../fonts/Museo_Slab_900italic.eot?#iefix') format('embedded-opentype'),  
  	   url('../fonts/Museo_Slab_900italic.woff') format('woff'), 
  	   url('../fonts/Museo_Slab_900italic.ttf')  format('truetype'), 
  	   url('../fonts/Museo_Slab_900italic.svg#Museo_Slab_900italic') format('svg');
  font-weight: normal;
  font-style: normal;
}




@font-face {
  font-family: 'chunkfive-webfont';
  src: url('../fonts/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),  
  	   url('../fonts/chunkfive-webfont.woff') format('woff'), 
  	   url('../fonts/chunkfive-webfont.ttf')  format('truetype'), 
  	   url('../fonts/chunkfive-webfont.svg#chunkfive-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}


body {
  background: #fff none repeat scroll 0 0;
  color: #000;
  font-family: "museo_slab_500webfont";
  font-size: 15px;
  height: 100%;
  margin: 0;
  min-height: 100%;
  padding: 0;
  position: relative;
  width: 100%;
}

.header-top .tagline {
  color: #ff6d00;
  font-family: "museo_slab_700webfont";
  font-size: 13px;
  padding: 0 15px;
  line-height: 50px;
}

.header-top .phone {
  background: rgba(0, 0, 0, 0) url("../images/icon/icon-phone.png") no-repeat scroll left center;
  font-family: "museo_slab_700webfont";
  font-size: 16px;
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 50px;
}

.header-container .header-top .header-top-link span,
.header-container .header-top .header-top-link ul.links li a {
  background: transparent none repeat scroll 0 0;
  font-family: "museo_slab_700webfont";
  color: #fff;
  font-size: 13px;
}
.header-container .header-top .header-top-link span {
	color: #000;
}

.header-container.header_style_1 .header-logo .logo {
  line-height: 130px;
  margin: 0;
  padding-top: 0;
}

.header-container.header_style_1 .header-logo {
  padding: 12px 0;
  text-align: center;
}

.full-header.container {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.full-header .nav-primary-container {
	background: #000;
    border-bottom: 3px solid #ff6d00;
  border-top: 3px solid #ff6d00;
}
.full-header .nav-primary-container .nav-container {

  text-align: center;
}

.full-header .nav-primary-container .nav-container .megamenu >li {
	padding: 0;
}


/*******Home section new-collection*******/
.new-collection .new-collection-inner {
  height: 360px;
  overflow: hidden;
  position: relative;
}

.new-collection .new-collection-inner .box-img img {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}
.new-collection .new-collection-inner .info {
  background: rgba(255, 255, 255, 0.75) none repeat scroll 0 0;
  cursor: pointer;
  height: 70px;
  line-height: 70px;
  margin-top: -35px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.new-collection .new-collection-inner .info a {
  color: #000;
  display: block;
  font-family: "museo_slab_700webfont";
  font-size: 19px;
}
.new-collection .owl-carousel .owl-dots .owl-dot {
  background: #ebebeb none repeat scroll 0 0;
  border: 2px solid #ebebeb;
  height: 15px;
  width: 15px;
}

.new-collection .owl-carousel .owl-dots .owl-dot.active {
  border-color: #ff6d00;
}


/********section_new_arrival******/
.section_new_arrival .arw-title {
  font-family: "chunkfive-webfont";
  font-size: 36px;
}
.section_new_arrival .arw-sub-title {
  color: #ff6d00;
  font-family: "Museo_Slab_500italic";
  font-size: 19px;
  font-style: normal;
}

.section_new_arrival .arw_tab_slider .slider-tab li:hover, 
.section_new_arrival .arw_tab_slider .slider-tab li.active {
  color: #ff6d00;
}

/********section_popular_weekly******/
.section_popular_weekly .arw-title {
  font-family: "chunkfive-webfont";
  font-size: 36px;
}
.section_popular_weekly .arw-sub-title {
  color: #ff6d00;
  font-family: "Museo_Slab_500italic";
  font-size: 19px;
  font-style: normal;
}

/********section_blog******/
.section_blog .arw-title {
  font-family: "chunkfive-webfont";
  font-size: 36px;
}
.section_blog .arw-sub-title {
  color: #ff6d00;
  font-family: "Museo_Slab_500italic";
  font-size: 19px;
  font-style: normal;
}


/*******section_newsletter******/
.section_newsletter {
	margin: 15px 0;
}
..section_newsletter .arw-parallax {
	background-size: cover!important
}


/******page*********/

.arw-sub-title {
  font-family: "chunkfive-webfont";
  font-size: 35px;
  margin-bottom: 10px;
  margin-top: 0;
  text-transform: uppercase;
}

.arw-sub-title {
  color: #ff6d00;
  font-family: "Museo_Slab_500italic";
  font-size: 19px;
  text-transform: capitalize;
}

.cms-about-us h5 {
  color: #ff6d00;
  margin: 0 0 20px;
}


/***********Footer**********/
.footer_top .footer_logo {
	text-align: center;
} 
.footer_center h5 {
  color: #ff6d00;
  font-family: "chunkfive-webfont";
  font-size: 23px;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.footer_center a {
  display: inline-block;
  font-size: 15px;
  line-height: 36px;
  width: 100%;
}
.footer_center #instafeed a {
  float: left;
  padding: 5px;
  width: 80px;
}

.timeline-Header {
  display: none!important;
}
.timeline-Footer {
  display: none!important;
}

.footer_bottom {
	margin-top: 50px;
}
.footer_bottom ul {
  border-top: 1px solid #ebebeb;
  padding-top: 10px;
  text-align: center;
}
.footer_bottom ul li {
  display: inline-block;
  height: 80px;
  line-height: 80px;
  margin: 0 15px;
  vertical-align: middle;
}
