<?xml version="1.0"?>
<config>
    <modules>
        <ARW_ArexWorks>
            <version>1.0.0</version>
        </ARW_ArexWorks>
    </modules>
    <global>
        <models>
            <arexworks>
                <class>ARW_ArexWorks_Model</class>
            </arexworks>
        </models>
        <blocks>
            <arexworks>
                <class>ARW_ArexWorks_Block</class>
            </arexworks>
			 <adminhtml>
                <rewrite>
                    <cms_wysiwyg_images_content>ARW_ArexWorks_Block_Adminhtml_Cms_Wysiwyg_Images_Content</cms_wysiwyg_images_content>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <arexworks>
                <class>ARW_ArexWorks_Helper</class>
            </arexworks>
			<cms>
                <rewrite>
                    <wysiwyg_images>ARW_ArexWorks_Helper_Cms_Wysiwyg_Images</wysiwyg_images>
                </rewrite>
            </cms>
        </helpers>
    </global>
    <frontend>
        <routers>
            <arexworks>
                <use>standard</use>
                <args>
                    <module>ARW_ArexWorks</module>
                    <frontName>arexworks</frontName>
                </args>
            </arexworks>
        </routers>
    </frontend>
</config>