<?xml version="1.0"?>
<config>
    <modules>
        <ARW_Filter>
            <version>1.0</version>
        </ARW_Filter>
    </modules>

    <frontend>
        <routers>
            <arwfilter>
                <use>standard</use>
                <args>
                    <module>ARW_Filter</module>
                    <frontName>arwfilter</frontName>
                </args>
            </arwfilter>
            <catalog>
                <args>
                    <modules>
                        <ARW_Filter before="Mage_Catalog">ARW_Filter_Catalog</ARW_Filter>
                    </modules>
                </args>
            </catalog>
            <catalogsearch>
                <args>
                    <modules>
                        <ARW_Filter before="Mage_CatalogSearch">ARW_Filter_CatalogSearch</ARW_Filter>
                    </modules>
                </args>
            </catalogsearch>
        </routers>
        <layout>
            <updates>
                <arwfilter>
                    <file>arw_filter.xml</file>
                </arwfilter>
            </updates>
        </layout>
    </frontend>

    <global>
        <blocks>
            <arwfilter>
                <class>ARW_Filter_Block</class>
            </arwfilter>
            <catalog>
                <rewrite>
                    <layer_filter_price>ARW_Filter_Block_Catalog_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <arwfilter>
                <class>ARW_Filter_Helper</class>
            </arwfilter>
        </helpers>
        <models>
            <arwfilter>
                <class>ARW_Filter_Model</class>
                <resourceModel>arwfilter_resource</resourceModel>
            </arwfilter>
            <arwfilter_resource>
                <class>ARW_Filter_Model_Resource</class>
            </arwfilter_resource>
            <catalog_resource>
                <rewrite>
                    <product_collection>ARW_Filter_Model_Resource_Product_Collection</product_collection>
                </rewrite>
            </catalog_resource>
            <catalogsearch_resource>
                <rewrite>
                    <fulltext_collection>ARW_Filter_Model_Resource_Fulltext_Collection</fulltext_collection>
                </rewrite>
            </catalogsearch_resource>
        </models>
    </global>

    <adminhtml>
        <layout>
            <updates>
                <arwfilter>
                    <file>arw_filter.xml</file>
                </arwfilter>
            </updates>
        </layout>
    </adminhtml>

    <default>
		<arwfilter>
            <general>
                <bar>1</bar>
                <enabled_jquery>0</enabled_jquery>
                <bar_color>CC181E</bar_color>
            </general>
		    <catalog>
		    	<price>1</price>
                <enable>1</enable>
                <main_selector>.col-main</main_selector>
                <layer_selector>.block-layered-nav</layer_selector>
		    </catalog>
            <catalogsearch>
                <price>1</price>
                <enable>1</enable>
                <main_selector>.col-main</main_selector>
                <layer_selector>.block-layered-nav</layer_selector>
            </catalogsearch>
		</arwfilter>
    </default>
</config>