<?xml version="1.0"?>
<!--
/**
 *
 * @category     AM
 * @package      AM_Export
 *
 * @copyright    Copyright (C) 2013 ArexMage.com. All Rights Reserved.
 * @license      GNU General Public License version 2 or later;
 * @author       ArexMage.com
 * @email        support@arexmage.com
 *
 */
 -->
<config>
    <modules>
        <AM_Export>
            <version>2.0.0</version>
        </AM_Export>
    </modules>
    <global>
        <models>
            <export>
                <class>AM_Export_Model</class>
            </export>
        </models>
        <blocks>
            <export>
                <class>AM_Export_Block</class>
            </export>
        </blocks>
        <helpers>
            <export>
                <class>AM_Export_Helper</class>
            </export>
        </helpers>
    </global>
    <frontend>
        <routers>
            <export>
                <use>standard</use>
                <args>
                    <module>AM_Export</module>
                    <frontName>export</frontName>
                </args>
            </export>
        </routers>
    </frontend>
    <admin>
        <routers>
            <export>
                <use>admin</use>
                <args>
                    <module>AM_Export</module>
                    <frontName>export</frontName>
                </args>
            </export>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <export>
                    <file>am_export.xml</file>
                </export>
            </updates>
        </layout>
    </adminhtml>
</config>