<?xml version="1.0"?>
<config>
    <modules>
        <ARW_Sebian>
            <version>1.0.2</version>
        </ARW_Sebian>
    </modules>
    <frontend>
        <routers>
            <sebian>
                <use>standard</use>
                <args>
                    <module>ARW_Sebian</module>
                    <frontName>sebian</frontName>
                </args>
            </sebian>
        </routers>
        <layout>
            <updates>
                <sebian>
                    <file>arw_sebian.xml</file>
                </sebian>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <sebian>
                <use>admin</use>
                <args>
                    <module>ARW_Sebian</module>
                    <frontName>sebian</frontName>
                </args>
            </sebian>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <sebian>
                    <file>arw_sebian.xml</file>
                </sebian>
            </updates>
        </layout>
        <events>
            <controller_action_postdispatch_adminhtml_system_config_save>
                <observers>
                    <sebian>
                        <type>singleton</type>
                        <class>sebian/observer</class>
                        <method>configSave</method>
                    </sebian>
                </observers>
            </controller_action_postdispatch_adminhtml_system_config_save>
            <store_edit>
                <observers>
                    <sebian>
                        <type>singleton</type>
                        <class>sebian/observer</class>
                        <method>storeEdit</method>
                    </sebian>
                </observers>
            </store_edit>
        </events>
    </adminhtml>
    <global>
        <models>
            <sebian>
                <class>ARW_Sebian_Model</class>
                <resourceModel>sebian_mysql4</resourceModel>
            </sebian>
        </models>
        <resources>
            <sebian_setup>
                <setup>
                    <module>ARW_Sebian</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sebian_setup>
            <sebian_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sebian_write>
            <sebian_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sebian_read>
        </resources>
        <blocks>
            <sebian>
                <class>ARW_Sebian_Block</class>
            </sebian>
        </blocks>
        <helpers>
            <sebian>
                <class>ARW_Sebian_Helper</class>
            </sebian>
        </helpers>
    </global>
    <default>
        <sebian>
            <general>
                <sidebar_mobile>show</sidebar_mobile>
                <enable_popup>home</enable_popup>
            </general>
            <header>
                <style>style_1</style>
                <show_icon_search>1</show_icon_search>
                <show_search_by_category>1</show_search_by_category>
                <category_depth>4</category_depth>
                <show_language>1</show_language>
                <show_currency>1</show_currency>
                <mini_ajaxcart_icon>1</mini_ajaxcart_icon>
                <sticky_nav>1</sticky_nav>
                <mobile_menu_style>accordion</mobile_menu_style>
                <mini_compare_icon></mini_compare_icon>
                <float_header></float_header>
            </header>
            <category>
                <aspect_ratio>1</aspect_ratio>
                <image_options>none</image_options>
                <!--<image_options>alt_image</image_options>-->
                <slideshow_item>4</slideshow_item>
                <alt_image_column>position</alt_image_column>
                <alt_image_column_value>2</alt_image_column_value>
                <image_width>540</image_width>
                <image_height>676</image_height>
            </category>
            <category_grid>
                <column_count>3</column_count>
                <style>style_1</style>
                <equal_height>1</equal_height>
                <hover_effect>1</hover_effect>
                <display_rating>1</display_rating>
                <display_addtocart>2</display_addtocart>
                <display_addtolinks>1</display_addtolinks>
                <addtolinks_simple>1</addtolinks_simple>
            </category_grid>
            <category_list>
                <hover_effect>1</hover_effect>
                <addtocart_simple>0</addtocart_simple>
                <addtolinks_simple>0</addtolinks_simple>
            </category_list>
            <product_details>
                <product_style>style_1</product_style>
                <product_collateral_display>tabs</product_collateral_display>
                <related_slider>1</related_slider>
                <related_autoplay>1</related_autoplay>
                <related_speed>500</related_speed>
                <related_dots>0</related_dots>
                <related_loop>0</related_loop>
                <related_navigation>1</related_navigation>
                <related_margin>30</related_margin>
                <related_responsive>1200:4,768:3,480:2</related_responsive>
                <related_item>4</related_item>
                <upsell_slider>1</upsell_slider>
                <upsell_autoplay>0</upsell_autoplay>
                <upsell_speed>500</upsell_speed>
                <upsell_dots>0</upsell_dots>
                <upsell_loop>0</upsell_loop>
                <upsell_navigation>1</upsell_navigation>
                <upsell_margin>30</upsell_margin>
                <upsell_responsive>1200:4,768:3,480:2</upsell_responsive>
                <upsell_item>3</upsell_item>
            </product_details>
            <product_labels>
                <label>new,sale</label>
            </product_labels>
            <product_countdown>
                <catalog>0</catalog>
                <details>0</details>
            </product_countdown>
            <product_detail_zoom>
                <enable_popup>1</enable_popup>
                <image_main_width>570</image_main_width>
                <image_main_height>713</image_main_height>
                <enable_zoom>1</enable_zoom>
                <zoom_width>570</zoom_width>
                <zoom_height>713</zoom_height>
                <position>right</position>
                <adjust_x>31</adjust_x>
                <adjust_y>0</adjust_y>
                <smooth_move>3</smooth_move>
                <lens_opacity>0.5</lens_opacity>
                <show_title>1</show_title>
                <title_opacity>0.5</title_opacity>
            </product_detail_zoom>
            <quick_view_product>
                <enableview>1</enableview>
                <show_more_view>1</show_more_view>
            </quick_view_product>
            <product_detail_slideshow>
                <position>bottom</position>
                <width_thumbnail>100</width_thumbnail>
                <height_thumbnail>125</height_thumbnail>
                <slides_to_show>5</slides_to_show>
                <slides_to_scroll>1</slides_to_scroll>
                <infinite>1</infinite>
                <auto_play>0</auto_play>
                <autoplay_speed>2000</autoplay_speed>
                <speed>2000</speed>
                <responsive>1280:[5,1];320:[3,1]</responsive>
            </product_detail_slideshow>

            <footer>
                <links_column_auto_width>1</links_column_auto_width>
            </footer>
            <sidebar_blocks_home>
                <compare>0</compare>
                <compared>0</compared>
                <viewed>0</viewed>
                <wishlist>0</wishlist>
                <poll>0</poll>
                <tags>0</tags>
                <paypal>0</paypal>
                <block_left_top>0</block_left_top>
                <block_left_bottom>0</block_left_bottom>
                <block_right_top>0</block_right_top>
                <block_right_bottom>0</block_right_bottom>
            </sidebar_blocks_home>
            <contact_page>
                <layout_style>style_1</layout_style>
            </contact_page>
            <install>
                <overwrite_blocks>0</overwrite_blocks>
                <overwrite_pages>0</overwrite_pages>
            </install>
            <customization>
                <custom_css>0</custom_css>
            </customization>
        </sebian>
        <sebian_design>
            <colors>
                <primary>#af5875</primary>
                <text_color>#b8b8b8</text_color>
                <heading_color>#272727</heading_color>
                <link_color>#272727</link_color>
                <link_hover_color>#af5875</link_hover_color>
                <label_color>#272727</label_color>
                <border_color>#ebebeb</border_color>

                <button_bg>transparent</button_bg>
                <button_color>#272727</button_color>
                <button_border_color>#272727</button_border_color>
                <button_hover_bg>#af5875</button_hover_bg>
                <button_hover_color>#fff</button_hover_color>
                <button_hover_border_color>#af5875</button_hover_border_color>

                <button_2_bg>transparent</button_2_bg>
                <button_2_color>#fff</button_2_color>
                <button_2_border_color>#fff</button_2_border_color>
                <button_2_hover_bg>#af5875</button_2_hover_bg>
                <button_2_hover_color>#fff</button_2_hover_color>
                <button_2_hover_border_color>#af5875</button_2_hover_border_color>

                <button_3_bg>#fff</button_3_bg>
                <button_3_color>#272727</button_3_color>
                <button_3_border_color>transparent</button_3_border_color>
                <button_3_hover_bg>#af5875</button_3_hover_bg>
                <button_3_hover_color>#fff</button_3_hover_color>
                <button_3_hover_border_color>transparent</button_3_hover_border_color>

                <input_bg>#ffffff</input_bg>
                <input_color>#272727</input_color>
                <input_border_color>#ebebeb</input_border_color>
                <input_focus_bg>#ebebeb</input_focus_bg>
                <input_focus_border_color>#ebebeb</input_focus_border_color>
                <input_focus_color>#272727</input_focus_color>
                <input_disable_bg>#ebebeb</input_disable_bg>

                <block_title_bg>#fff</block_title_bg>
                <block_title_color>#272727</block_title_color>
                <block_content_bg>#fff</block_content_bg>
                <block_content_border>#ebebeb</block_content_border>
                <block_text_color>#b8b8b8</block_text_color>
                <block_link_color>#272727</block_link_color>
                <block_nav_link_color>#272727</block_nav_link_color>
                <block_nav_link_hover_color>#af5875</block_nav_link_hover_color>
                <block_link_hover_color>#af5875</block_link_hover_color>

                <danger>red</danger>
                <success>green</success>
                <warning>orange</warning>
                <info>#eee</info>

                <cat_label1>transparent</cat_label1>
                <cat_label2>transparent</cat_label2>
                <cat_label3>transparent</cat_label3>
                <cat_label4>transparent</cat_label4>
            </colors>
            <font>
                <font_size>12px</font_size>
                <primary_font_family_group>google</primary_font_family_group>
                <primary_font_family_custom>"Montserrat",​sans-serif</primary_font_family_custom>
                <primary_font_family>Montserrat</primary_font_family>
                <primary_google_font_charsets>all</primary_google_font_charsets>
                <primary_google_font_variants>all</primary_google_font_variants>
                <heading_font_family_group>google</heading_font_family_group>
                <heading_font_family_custom>"Montserrat",​sans-serif</heading_font_family_custom>
                <heading_font_family>Montserrat</heading_font_family>
                <heading_google_font_charsets>all</heading_google_font_charsets>
                <heading_google_font_variants>all</heading_google_font_variants>
                <highlight_font_family_group>google</highlight_font_family_group>
                <highlight_font_family_custom>"Playfair Display",sans-serif</highlight_font_family_custom>
                <highlight_font_family>Playfair Display</highlight_font_family>
                <highlight_google_font_charsets>all</highlight_google_font_charsets>
                <highlight_google_font_variants>all</highlight_google_font_variants>
            </font>
            <header>
                <header_bg_color>transparent</header_bg_color>
                <header_bg_opacity>50</header_bg_opacity>
                <header_bg_image></header_bg_image>
                <header_bg_position></header_bg_position>
                <header_bg_position_custom></header_bg_position_custom>
                <header_bg_attachment></header_bg_attachment>
                <header_bg_repeat></header_bg_repeat>

                <header_text_color>#272727</header_text_color>
                <header_link_color>#272727</header_link_color>
                <header_link_bg>transparent</header_link_bg>
                <header_link_hover_color>#af5875</header_link_hover_color>
                <header_link_hover_bg>transparent</header_link_hover_bg>

                <header_dropdown_bg>#272727</header_dropdown_bg>
                <header_dropdown_text_color>#858585</header_dropdown_text_color>
                <header_dropdown_link_color>#858585</header_dropdown_link_color>
                <header_dropdown_link_bg>transparent</header_dropdown_link_bg>
                <header_dropdown_link_hover_color>#af5875</header_dropdown_link_hover_color>
                <header_dropdown_link_hover_bg>transparent</header_dropdown_link_hover_bg>

                <sticky_header_background_color>#ffffff</sticky_header_background_color>
                <sticky_header_opacity>80</sticky_header_opacity>
                <sticky_header_text_color>#272727</sticky_header_text_color>
                <sticky_header_link_color>#272727</sticky_header_link_color>
                <sticky_header_link_hover_color>#af5875</sticky_header_link_hover_color>

                <float_header_text_color>#ffffff</float_header_text_color>
                <float_header_link_color>#ffffff</float_header_link_color>
                <float_header_link_hover_color>#af5875</float_header_link_hover_color>
            </header>
            <primary_menu>
                <primary_menu_bg>#fff</primary_menu_bg>
                <primary_menu_text_color>#fff</primary_menu_text_color>
                <mobile_menu_bar_color>#b8b8b8</mobile_menu_bar_color>
                <mobile_menu_bar_bg>transparent</mobile_menu_bar_bg>
                <mobile_menu_bg>#272727</mobile_menu_bg>
                <mobile_menu_link_color>#fff</mobile_menu_link_color>
                <mobile_menu_link_hover_color>#af5875</mobile_menu_link_hover_color>

                <level1_bg>transparent</level1_bg>
                <level1_color>#272727</level1_color>
                <level1_hover_bg>transparent</level1_hover_bg>
                <level1_hover_color>#af5875</level1_hover_color>

                <primary_sub2_bg>#272727</primary_sub2_bg>
                <level2_bg>transparent</level2_bg>
                <level2_color>#858585</level2_color>
                <level2_hover_bg>transparent</level2_hover_bg>
                <level2_hover_color>#ffffff</level2_hover_color>

                <primary_sub3_bg>#272727</primary_sub3_bg>
                <level3_bg>transparent</level3_bg>
                <level3_color>#858585</level3_color>
                <level3_hover_bg>transparent</level3_hover_bg>
                <level3_hover_color>#ffffff</level3_hover_color>
            </primary_menu>

            <breadcrumb>
                <breadcrumb_bg>#fff</breadcrumb_bg>
                <breadcrumb_link_color>#b8b8b8</breadcrumb_link_color>
                <breadcrumb_link_hover_color>#da5171</breadcrumb_link_hover_color>
                <breadcrumb_current_color>#b8b8b8</breadcrumb_current_color>
                <breadcrumb_caret>#b8b8b8</breadcrumb_caret>
            </breadcrumb>
            <main>
                <body_bg_color>#fff</body_bg_color>
                <body_bg_image></body_bg_image>
                <body_bg_position></body_bg_position>
                <body_bg_position_custom></body_bg_position_custom>
                <body_bg_attachment></body_bg_attachment>
                <body_bg_repeat></body_bg_repeat>

                <main_bg_color>#fff</main_bg_color>
                <main_bg_image></main_bg_image>
                <main_bg_position></main_bg_position>
                <main_bg_position_custom></main_bg_position_custom>
                <main_bg_attachment></main_bg_attachment>
                <main_bg_repeat></main_bg_repeat>
            </main>

            <catalog_view>
                <label_new_bg>#ababab</label_new_bg>
                <label_new_color>#fff</label_new_color>
                <label_new_border>#ababab</label_new_border>
                <label_sale_bg>#8090a5</label_sale_bg>
                <label_sale_color>#fff</label_sale_color>
                <label_sale_border>#8090a5</label_sale_border>

            </catalog_view>

            <catalog_grid_view>
                <product_name_color>#272727</product_name_color>
                <product_name_hover_color>#af5875</product_name_hover_color>
                <price_color>#af5875</price_color>
                <border_color>#eaeaea</border_color>

                <button_quickview_bg>#ffffff</button_quickview_bg>
                <button_quickview_color>#272727</button_quickview_color>
                <button_quickview_border_color>#fff</button_quickview_border_color>
                <button_quickview_hover_bg>#af5875</button_quickview_hover_bg>
                <button_quickview_hover_color>#ffffff</button_quickview_hover_color>
                <button_quickview_hover_border_color>#af5875</button_quickview_hover_border_color>

                <button_cart_bg>transparent</button_cart_bg>
                <button_cart_color>#fff</button_cart_color>
                <button_cart_border_color>#fff</button_cart_border_color>
                <button_cart_hover_bg>#af5875</button_cart_hover_bg>
                <button_cart_hover_color>#fff</button_cart_hover_color>
                <button_cart_hover_border_color>#af5875</button_cart_hover_border_color>

                <button_compare_bg>#ffffff</button_compare_bg>
                <button_compare_color>#272727</button_compare_color>
                <button_compare_border_color>#fff</button_compare_border_color>
                <button_compare_hover_bg>#af5875</button_compare_hover_bg>
                <button_compare_hover_color>#ffffff</button_compare_hover_color>
                <button_compare_hover_border_color>#af5875</button_compare_hover_border_color>

                <button_wishlist_bg>#ffffff</button_wishlist_bg>
                <button_wishlist_color>#272727</button_wishlist_color>
                <button_wishlist_border_color>#fff</button_wishlist_border_color>
                <button_wishlist_hover_bg>#af5875</button_wishlist_hover_bg>
                <button_wishlist_hover_color>#ffffff</button_wishlist_hover_color>
                <button_wishlist_hover_border_color>#af5875</button_wishlist_hover_border_color>
            </catalog_grid_view>
            <catalog_list_view>
                <product_name_color>#272727</product_name_color>
                <product_name_hover_color>#af5875</product_name_hover_color>
                <price_color>#af5875</price_color>
                <border_color>#eaeaea</border_color>

                <button_quickview_bg>#ffffff</button_quickview_bg>
                <button_quickview_color>#272727</button_quickview_color>
                <button_quickview_border_color>#ebebeb</button_quickview_border_color>
                <button_quickview_hover_bg>#af5875</button_quickview_hover_bg>
                <button_quickview_hover_color>#ffffff</button_quickview_hover_color>
                <button_quickview_hover_border_color>#af5875</button_quickview_hover_border_color>

                <button_cart_bg>transparent</button_cart_bg>
                <button_cart_color>#272727</button_cart_color>
                <button_cart_border_color>#272727</button_cart_border_color>
                <button_cart_hover_bg>#af5875</button_cart_hover_bg>
                <button_cart_hover_color>#fff</button_cart_hover_color>
                <button_cart_hover_border_color>#af5875</button_cart_hover_border_color>

                <button_compare_bg>#ffffff</button_compare_bg>
                <button_compare_color>#272727</button_compare_color>
                <button_compare_border_color>#ebebeb</button_compare_border_color>
                <button_compare_hover_bg>#af5875</button_compare_hover_bg>
                <button_compare_hover_color>#ffffff</button_compare_hover_color>
                <button_compare_hover_border_color>#af5875</button_compare_hover_border_color>

                <button_wishlist_bg>#ffffff</button_wishlist_bg>
                <button_wishlist_color>#272727</button_wishlist_color>
                <button_wishlist_border_color>#ebebeb</button_wishlist_border_color>
                <button_wishlist_hover_bg>#af5875</button_wishlist_hover_bg>
                <button_wishlist_hover_color>#ffffff</button_wishlist_hover_color>
                <button_wishlist_hover_border_color>#af5875</button_wishlist_hover_border_color>
            </catalog_list_view>
            <catalog_detail>
                <border_color>#ebebeb</border_color>
                <detail_background_color>#fff</detail_background_color>
                <price_color>#af5875</price_color>

                <button_cart_bg>transparent</button_cart_bg>
                <button_cart_color>#272727</button_cart_color>
                <button_cart_border_color>#272727</button_cart_border_color>
                <button_cart_hover_bg>#af5875</button_cart_hover_bg>
                <button_cart_hover_color>#fff</button_cart_hover_color>
                <button_cart_hover_border_color>#af5875</button_cart_hover_border_color>

                <button_compare_bg>#ffffff</button_compare_bg>
                <button_compare_color>#272727</button_compare_color>
                <button_compare_border_color>#ebebeb</button_compare_border_color>
                <button_compare_hover_bg>#af5875</button_compare_hover_bg>
                <button_compare_hover_color>#ffffff</button_compare_hover_color>
                <button_compare_hover_border_color>#af5875</button_compare_hover_border_color>

                <button_wishlist_bg>#ffffff</button_wishlist_bg>
                <button_wishlist_color>#272727</button_wishlist_color>
                <button_wishlist_border_color>#ebebeb</button_wishlist_border_color>
                <button_wishlist_hover_bg>#af5875</button_wishlist_hover_bg>
                <button_wishlist_hover_color>#ffffff</button_wishlist_hover_color>
                <button_wishlist_hover_border_color>#af5875</button_wishlist_hover_border_color>

                <tab_control_color>#272727</tab_control_color>
                <tab_control_bg>#fff</tab_control_bg>
                <tab_control_border_color>#272727</tab_control_border_color>
                <tab_control_hover_color>#af5875</tab_control_hover_color>
                <tab_control_hover_bg>#fff</tab_control_hover_bg>
                <tab_control_hover_border_color>#333</tab_control_hover_border_color>

                <tab_content_color>#b8b8b8</tab_content_color>
                <tab_content_link_color>#272727</tab_content_link_color>
                <tab_content_hover_link_color>#af5875</tab_content_hover_link_color>
                <tab_content_border>#ebebeb</tab_content_border>
                <tab_content_bg>#fff</tab_content_bg>
            </catalog_detail>
            <toolbar>
                <toolbar_bg>#fff</toolbar_bg>
                <toolbar_border_color>#ebebeb</toolbar_border_color>
                <toolbar_text_color>#b8b8b8</toolbar_text_color>
                <toolbar_link_color>#b8b8b8</toolbar_link_color>
                <toolbar_link_bg>transparent</toolbar_link_bg>
                <toolbar_link_hover_color>#da5171</toolbar_link_hover_color>
                <toolbar_link_hover_bg>transparent</toolbar_link_hover_bg>
            </toolbar>
            <table>
                <table_bg>#fff</table_bg>
                <table_head_bg>#fff</table_head_bg>
                <table_head_color>#333</table_head_color>
                <table_head_border>#ededed</table_head_border>
                <table_body_border>#ededed</table_body_border>
                <table_text_color>#b8b8b8</table_text_color>
                <table_link_color>#272727</table_link_color>
                <table_hover_link_color>#da5171</table_hover_link_color>
            </table>
            <footer>
                <footer_heading_color>#b8b8b8</footer_heading_color>

                <footer_bg_color>#272727</footer_bg_color>
                <footer_bg_image></footer_bg_image>
                <footer_bg_position></footer_bg_position>
                <footer_bg_position_custom></footer_bg_position_custom>
                <footer_bg_attachment></footer_bg_attachment>
                <footer_bg_repeat></footer_bg_repeat>

                <footer_text_color>#616161</footer_text_color>
                <footer_link_color>#616161</footer_link_color>
                <footer_link_hover_color>#af5875</footer_link_hover_color>
                <footer_border_color>#505050</footer_border_color>
                <footer_copyright_bg>#272727</footer_copyright_bg>
                <footer_copyright_text>#616161</footer_copyright_text>
                <footer_copyright_link_color>#af5875</footer_copyright_link_color>
                <footer_copyright_link_hover_color>#af5875</footer_copyright_link_hover_color>
                <footer_copyright_border_color>#353535</footer_copyright_border_color>
            </footer>
        </sebian_design>
        <sebian_layout>
            <responsive>
                <responsive>1</responsive>
            </responsive>
            <layout>
                <style>stretched</style>
                <width>1170</width>
                <custom_width>1170</custom_width>
                <main_skin>1</main_skin>
            </layout>
        </sebian_layout>
    </default>
</config>